@import "../../variables.scss";

.productContainer {
  width: 100vw;
  height: calc(100vh - 103px); //deducting height of the headers
  display: flex;
  justify-content: center;
  align-items: center;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 300px;
}

.singleItemNav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  border-bottom: 1px solid #ededf0;
}

.singleProductTitle {
  color: var(--secondaryFont);
}

.singleProductBackIcon {
  position: absolute;
  top: 50%;
  left: 30px;
  translate: 0 -50%;
  cursor: pointer;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;

  &:hover {
    scale: 1.25;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
  }
}
