@import "../../variables.scss";

.toolbarContainer {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 8px 28px;
  border-bottom: 1px solid var(--primaryBorderColor);
}

@media (max-width: 550px) {
  .toolbarContainer {
    justify-content: center;
    gap: 8px;
    padding: 8px 12px 8px 12px;
  }
}
