.inputContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.searchIcon {
  position: absolute;
  left: 8px;
}

.closeIcon {
  position: absolute;
  right: 8px;
  cursor: pointer;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;

  &:hover {
    scale: 1.25;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
  }
}
